extends ../layout

block content
  h1= title

  if errors !== undefined
    each message in errors.errors
        p=message

  form(action="", method="post")
    P         
        label Title
        p
        input(type="text", name="title" value=body.title || '')
    p
        label Description
        p
        textarea(name="description", cols="30", rows="10" )=body.description || ''
    p
        input(type="submit", value="Save")
